<div class="about position-relative">
  <div class="layer position-absolute bg-primary w-100 h-100 opacity-50"></div>
  <div class="bg-img position-absolute end-0"></div>

  <div class="z-3 position-absolute start-0 top-0 bottom-0 end-0">
    <div class="row">
      <div class="col-md-6 mt-2">
        <div class="about-us text-white w-75 mt-5 ps-5 ms-auto">
          <h2 class="w-50">About Us</h2>
          <p class="w-100">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an
          </p>
          <img
            class="rounded-4"
            src="../../../assets/images/Rectangle2.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="Where text-white w-75 mt-5 justify-content-end align-content-center"
        >
          <h2 class="h text-end me-5 mt-3">Where</h2>
          <p class="parag text-end me-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
          <button class="hbtn">Help me</button>
        </div>
      </div>
    </div>
  </div>
</div>
